*{
  margin: 0;
  padding: 0;
  background: transparent;
  /* box-sizing: border-box; */
  text-decoration: none;
}
body{
  color: rgb(253, 255, 255);
  overflow: hidden;
  overflow-y: scroll;
}
.appMain{
  background: linear-gradient(
    135deg,
    rgb(37, 12, 129),
    rgb(52, 61, 145),
    rgb(245, 91, 194),
    rgb(151, 6, 108)
  );
}